* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*버튼의 테두리리*/
    color: #fff;
    font-family: 'Jua', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex; /*가로정렬*/
    justify-content: center; /*수평 주앙정렬*/
    background-color: black;
}

.all {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.my{
    width: auto;
    display: flex;
    border-radius: 20px;
    justify-content: center;
}

.title > h1{
    margin-bottom: 20px;
}

.title > h2{
    margin-top: 20px;
}

.my > img {
    width: 500px;
    height: 500px; /* width와 같게 맞춤 */
    margin-top: 30px;
    object-fit: cover; /* 이미지 비율을 채우면서 자르기 */
    border-radius: 20px; /* 둥글게 하고 싶으면 유지! */
}