<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/hip.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>beenzino</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <div class="all">
        <div class="hip">
            <h2>Hip</h2>
        </div>
        <hr>
        <div class="hipimag">
            <div class="image">
                <img src="/static/img/LOVE ! DANCE !.jpg" alt="" title="LOVE ! DANCE ! • HAON(김하온">
                <p>LOVE ! DANCE ! • HAON(김하온)</p>
            </div>
            <div class="image">
                <img src="/static/img/사임사임 (feat. 창모(CHANGMO)).jpg" alt=""
                    title="사임사임 (feat. 창모(CHANGMO)) • D.Ark , SUPERBEE 및 Coogie">
                <p>사임사임 (feat. 창모(CHANGMO)) • D.Ark , SUPERBEE 및 Coogie</p>
            </div>
            <div class="image">
                <img src="/static/img/동창회 (feat. 스몰키드).jpg" alt="" title="동창회 (feat. 스몰키드) • 타임피버 • TimeFeveR!">
                <p>동창회 (feat. 스몰키드) • 타임피버 • TimeFeveR!</p>
            </div>
            <div class="image">
                <img src="/static/img/Wait For Me.jpg" alt="" title="Wait For Me • 창모(CHANGMO)">
                <p>Wait For Me • 창모(CHANGMO)</p>
            </div>
            <div class="image">
                <img src="/static/img/D.O.N.jpg" alt="" title="D.O.N • 창모(CHANGMO)">
                <p>D.O.N • 창모(CHANGMO)</p>
            </div>
            <div class="image">
                <img src="/static/img/AEAO.jpg" alt="" title="AEAO  • 다이나믹듀오(DYNAMICDUO)">
                <p>AEAO • 다이나믹듀오(DYNAMICDUO)</p>
            </div>
            <div class="image">
                <img src="/static/img/삐삐.jpg" alt="" title="삐삐 • 아이유(IU)">
                <p>삐삐 • 아이유(IU)</p>
            </div>
            <div class="image">
                <img src="/static/img/마이웨이 (MY WAY) (Prod. R.Tee).jpg" alt=""
                    title="마이웨이 (MY WAY) (Prod. R.Tee) • 저스디스 (JUSTHIS) ,  R. Tee , 던말릭 (DON MALIK) 및  허성현 (Huh)">
                <p>마이웨이 (Prod. R.Tee) • 저스디스 (JUSTHIS) , R. Tee , 던말릭 (DON MALIK) 및 허성현</p>
            </div>
            <div class="image">
                <img src="/static/img/GOAT (feat. 머쉬베놈 (MUSHVENOM), 다이나믹 듀오).jpg" alt=""
                    title="GOAT (feat. 머쉬베놈 (MUSHVENOM), 다이나믹 듀오) • 저스디스">
                <p>GOAT (feat. 머쉬베놈 (MUSHVENOM), 다이나믹 듀오) • 저스디스</p>
            </div>
            <div class="image">
                <img src="/static/img/BO$$ (feat. Yultron, 로꼬, Ugly Duck).jpg" alt=""
                    title="BO$$ (feat. Yultron, 로꼬, Ugly Duck) • 박재범">
                <p>BO$$ (feat. Yultron, 로꼬, Ugly Duck) • 박재범</p>
            </div>
            <div class="image">
                <img src="/static/img/SICKO MODE.jpg" alt="" title="SICKO MODE • Travis Scott">
                <p>SICKO MODE • Travis Scott</p>
            </div>
            <div class="image">
                <img src="/static/img/misses.jpg" alt="" title="misses • Dominic Fike">
                <p>misses • Dominic Fike</p>
            </div>
            <div class="image">
                <img src="/static/img/Why.jpg" alt="" title="Why • Dominic Fike">
                <p>Why • Dominic Fike</p>
            </div>
            <div class="image">
                <img src="/static/img/FE!N (feat. Playboi Carti).jpg" alt=""
                    title="FE!N (feat. Playboi Carti) • Travis Scott">
                <p>FE!N (feat. Playboi Carti) • Travis Scott</p>
            </div>
            <div class="image">
                <img src="/static/img/rockstar (feat. 21 Savage).jpg" alt=""
                    title="rockstar (feat. 21 Savage) • Post Malone">
                <p>rockstar (feat. 21 Savage) • Post Malone</p>
            </div>
            <div class="image">
                <img src="/static/img/Die for You.jpg" alt="" title="Die for You • The weekend">
                <p>Die for You • The weekend</p>
            </div>
            <div class="image">
                <img src="/static/img/GOATED..jpg" alt="" title="GOATED. • Armani White 및 Denzel Curry">
                <p>GOATED. • Armani White 및 Denzel Curry</p>
            </div>
            <div class="image">
                <img src="/static/img/OK.jpg" alt="" title="OK • Joey Valence & Brae">
                <p>OK • Joey Valence & Brae</p>
            </div>
            <div class="image">
                <img src="/static/img/Godzilla (feat. Juice WRLD).jpg" alt=""
                    title="Godzilla (feat. Juice WRLD) • Eminem">
                <p>Godzilla (feat. Juice WRLD) • Eminem</p>
            </div>
            <div class="image">
                <img src="/static/img/사임쌓임.jpg" alt="" title="사임쌓임 • SUPERBEE , Uneducated Kid , Chin 및 CK">
                <p>사임쌓임 • SUPERBEE , Uneducated Kid , Chin 및 CK</p>
            </div>
            <div class="image">
                <img src="/static/img/400km (feat. Kid Milli).jpg" alt="" title="400km (feat. Kid Milli) • 한요한">
                <p>400km (feat. Kid Milli) • 한요한</p>
            </div>
            <div class="image">
                <img src="/static/img/Rainy day (feat. Skinny Brown, ASH ISLAND).jpg" alt=""
                    title="Rainy day (feat. Skinny Brown, ASH ISLAND) • 파테코">
                <p>Rainy day (feat. Skinny Brown, ASH ISLAND) • 파테코</p>
            </div>
            <div class="image">
                <img src="/static/img/멍 (feat. Skinny Brown, Loopy).jpg" alt=""
                    title="멍 (feat. Skinny Brown, Loopy) • 아우릴고트 (OUREALGOAT)">
                <p>멍 (feat. Skinny Brown, Loopy) • 아우릴고트 (OUREALGOAT)</p>
            </div>
            <div class="image">
                <img src="/static/img/Deep Sea (feat. BE'O).jpg" alt="" title="Deep Sea (feat. BE'O) • 김승민">
                <p>Deep Sea (feat. BE'O) • 김승민</p>
            </div>
            <div class="image">
                <img src="/static/img/All I Wanna Do.jpg" alt=""
                    title="All I Wanna Do (Korean Version) (feat. Hoody, Loco) • 박재범">
                <p>All I Wanna Do (Korean Version) (feat. Hoody, Loco) • 박재범</p>
            </div>
            <div class="image">
                <img src="/static/img/띵.jpg" alt=""
                    title="DDING(띵) (Prod. By GIRIBOY(기리보이)) • Jvcki Wai, Young B(영비), Osshun Gum, Han Yo Han(한요한)">
                <p>DDING(띵) (Prod. By GIRIBOY(기리보이)) • Jvcki Wai, Young B(영비), Han Yo Han(한요한)</p>
            </div>
            <div class="image">
                <img src="/static/img/300(prod. Cashbanger).jpg" alt="" title="300(prod. Cashbanger) • 호미들">
                <p>300(prod. Cashbanger) • 호미들</p>
            </div>
            <div class="image">
                <img src="/static/img/뭐 어떡할까.jpg" alt="" title="뭐 어떡할까 • 기리보이">
                <p>뭐 어떡할까 • 기리보이</p>
            </div>
            <div class="image">
                <img src="/static/img/할 것 (Remix).jpg" alt="" title="할 것 (Remix) • Royal44">
                <p>할 것 (Remix) • Royal44</p>
            </div>
            <div class="image">
                <img src="/static/img/겁도 없이 (feat. BIG Naughty).jpg" alt="" title="겁도 없이 (feat. BIG Naughty) • B.I">
                <p>겁도 없이 (feat. BIG Naughty) • B.I</p>
            </div>
            <div class="image">
                <img src="/static/img/호랑이소굴 (feat. Jvcki Wai).jpg" alt="" title="호랑이소굴 (feat. Jvcki Wai) • 기리보이">
                <p>호랑이소굴 (feat. Jvcki Wai) • 기리보이</p>
            </div>
            <div class="image">
                <img src="/static/img/꽃 FLOWER (Prod. AVIN).jpg" alt="" title="꽃 FLOWER (Prod. AVIN) • 하온(HAON)">
                <p>꽃 FLOWER (Prod. AVIN) • 하온(HAON)</p>
            </div>
            <div class="image">
                <img src="/static/img/아퍼.jpg" alt="" title="아퍼 • Young B, YUNHWAY, Lil Tachi 및 Han Yo-han">
                <p>아퍼 • 기리보이 Young B, YUNHWAY, Lil Tachi 및 Han Yo-han</p>
            </div>
            <div class="image">
                <img src="/static/img/농담처럼 (Prod. by Zion.T).jpg" alt="" title="농담처럼 (Prod. by Zion.T) • 기리보이">
                <p>농담처럼 (Prod. by Zion.T) • 기리보이</p>
            </div>
            <div class="image">
                <img src="/static/img/Prime Time.jpg" alt="" title="Prime Time • The Quiett">
                <p>Prime Time • The Quiett With ODEE, CHANGMO, Hash Swan, Dok2</p>
            </div>
            <div class="icon-bar">
                <a href="/" class="icon-button" title="메인 페이지">
                    <i class="fa-solid fa-house"></i> <!-- 메인 -->
                </a>
                <a href="/official-hige-dandism" class="icon-button" title="밴드음악 페이지">
                    <i class="fa-solid fa-music"></i> <!-- 밴드 음악 -->
                </a>

                <a href="/beenzino" class="icon-button" title="이전 페이지">
                    <i class="fa-solid fa-arrow-left"></i> <!-- 이전 페이지 -->
                </a>
            </div>
            <div class="page-indicator">
                &lt; 2 / 2 &gt;
            </div>
        </div>
    </div>


</body>

</html>