<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/band.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Official HIGE DANdism</title>
</head>


<body>

    <div class="all">
        <div class="band">
            <h2>Band</h2>
        </div>
        <hr>
        <div class="bandimag">
            <div class="image">
                <img src="/static/img/drowning.jpg" alt="" title="Drowning • WOODZ">
                <p>Drowning • WOODZ</p>
            </div>
            <div class="image">
                <img src="/static/img/ORANGE.jpg" alt="" title="レンジ - Orange • SPYAIR">
                <p>オレンジ - Orange • SPYAIR</p>
            </div>
            <div class="image">
                <img src="/static/img/Cry Baby.jpg" alt="" title="Cry Baby • Official HIGE DANdism">
                <p>Cry Baby • Official HIGE DANdism</p>
            </div>
            <div class="image">
                <img src="/static/img/踊り子.jpg" alt="" title="踊り子 • Vaundy">
                <p>踊り子 • Vaundy</p>
            </div>
            <div class="image">
                <img src="/static/img/レイン - Rain.jpg" alt="" title="レイン - Rain • SID">
                <p>レイン - Rain • SID</p>
            </div>
            <div class="image">
                <img src="/static/img/히어로.jpg" alt="" title="히어로 • LUCY">
                <p>히어로 • LUCY</p>
            </div>
            <div class="image">
                <img src="/static/img/怪獣の花唄.jpg" alt="" title="怪獣の花唄 • Vaundy">
                <p>怪獣の花唄 • Vaundy</p>
            </div>
            <div class="image">
                <img src="/static/img/Boogie Man.jpg" alt="" title="Boogie Man • LUCY">
                <p>Boogie Man • LUCY</p>
            </div>
            <div class="image">
                <img src="/static/img/HAPPY.jpg" alt="" title="HAPPY • DAY6(데이식스)">
                <p>HAPPY • DAY6(데이식스)</p>
            </div>
            <div class="image">
                <img src="/static/img/Congratulations.jpg" alt="" title="Congratulations • DAY6(데이식스)">
                <p>Congratulations • DAY6(데이식스)</p>
            </div>
            <div class="image">
                <img src="/static/img/WINd.jpg" alt="" title="WIND • FT아일랜드">
                <p>WIND • FT아일랜드</p>
            </div>
            <div class="image">
                <img src="/static/img/Autumn Dream.jpg" alt="" title="Autumn Dream • 엔플라잉">
                <p>Autumn Dream • 엔플라잉</p>
            </div>
            <div class="image">
                <img src="/static/img/한 페이지가 될 수 있게 Time of Our Life.jpg" alt="" title="한 페이지가 될 수 있게 Time of Our Life • DAY6(데이식스)">
                <p>한 페이지가 될 수 있게 Time of Our Life • DAY6(데이식스)</p>
            </div>
            <div class="image">
                <img src="/static/img/박하사탕.jpg" alt="" title="박하사탕 • 윤도현밴드">
                <p>박하사탕 • 윤도현밴드</p>
            </div>
            <div class="image">
                <img src="/static/img/사랑하는 법을 몰라서.jpg" alt="" title="사랑하는 법을 몰라서 • FT아일랜드">
                <p>사랑하는 법을 몰라서 • FT아일랜드</p>
            </div>
            <div class="image">
                <img src="/static/img/잊을께.jpg" alt="" title="잊을께 • 윤도현밴드">
                <p>잊을께 • 윤도현밴드</p>
            </div>
            <div class="image">
                <img src="/static/img/Blue Moon.jpg" alt="" title="Blue Moon • 엔플라잉">
                <p>Blue Moon • 엔플라잉</p>
            </div>
            <div class="image">
                <img src="/static/img/좋아합니다 I Like You.jpg" alt="" title="좋아합니다 I Like You • DAY6(데이식스)">
                <p>좋아합니다 I Like You • DAY6(데이식스)</p>
            </div>
            <div class="image">
                <img src="/static/img/너를 보내고.jpg" alt="" title="너를 보내고 • 윤도현밴드">
                <p>너를 보내고 • 윤도현밴드</p>
            </div>
            <div class="image">
                <img src="/static/img/Pretender.jpg" alt="" title="Pretender • Official HIGE DANdism">
                <p>Pretender • Official HIGE DANdism</p>
            </div>
            <div class="image">
                <img src="/static/img/宿命.jpg" alt="" title="宿命 • Official HIGE DANdism">
                <p>宿命 • Official HIGE DANdism</p>
            </div>
            <div class="image">
                <img src="/static/img/한시 오분.jpg" alt="" title="한시 오분 (1:05) • 검정치마">
                <p>한시 오분 (1:05) • 검정치마</p>
            </div>
            <div class="image">
                <img src="/static/img/東京フラッシュ.jpg" alt="" title="東京フラッシュ • Vaundy">
                <p>東京フラッシュ• Vaundy</p>
            </div>
            <div class="image">
                <img src="/static/img/Welcome to the Show.jpg" alt="" title="Welcome to the Show • DAY6(데이식스)">
                <p>Welcome to the Show • DAY6(데이식스)</p>
            </div>
            <div class="image">
                <img src="/static/img/インフェルノ - Inferno.jpg" alt="" title="インフェルノ - Inferno • Mrs. GREEN APPLE">
                <p>インフェルノ - Inferno • Mrs. GREEN APPLE</p>
            </div>
            <div class="image">
                <img src="/static/img/君はロックを聴かない - Kimi Wa Rock Wo Kikanai.jpg" alt="" title="君はロックを聴かない - Kimi Wa Rock Wo Kikanai • aimyon">
                <p>君はロックを聴かない - Kimi Wa Rock Wo Kikanai • aimyon</p>
            </div>
            <div class="image">
                <img src="/static/img/私は最強.jpg" alt="" title="私は最強 • Ado">
                <p>私は最強 • Ado</p>
            </div>
            <div class="image">
                <img src="/static/img/너에게 닿기를.jpg" alt="" title="너에게 닿기를 • 10CM">
                <p>너에게 닿기를 • 10CM</p>
            </div>
            <div class="image">
                <img src="/static/img/喜劇.jpg" alt="" title="喜劇 • Gen Hoshino">
                <p>喜劇 • Gen Hoshino</p>
            </div>
            <div class="image">
                <img src="/static/img/찬란.jpg" alt="" title="찬란 • 나상현씨밴드">
                <p>찬란 • 나상현씨밴드</p>
            </div>
            <div class="image">
                <img src="/static/img/AMNESIA.jpg" alt="" title="AMNESIA • WOODZ">
                <p>AMNESIA • WOODZ</p>
            </div>
            <div class="image">
                <img src="/static/img/늘 (EVER).jpg" alt="" title="늘 (EVER) • Hebi">
                <p>늘 (EVER) • Hebi</p>
            </div>
            <div class="image">
                <img src="/static/img/シルエット - Silhouette.jpg" alt="" title="シルエット - Silhouette • KANA-BOON">
                <p>シルエット - Silhouette • KANA-BOON</p>
            </div>
            <div class="image">
                <img src="/static/img/アイネクライネ - Eine Kleine.jpg" alt="" title="イネクライネ - Eine Kleine • Kenshi Yonezu">
                <p>アイネクライネ - Eine Kleine • Kenshi Yonezu</p>
            </div>
            <div class="image">
                <img src="/static/img/상수역.jpg" alt="" title="상수역 • 검정치마">
                <p>상수역 • 검정치마</p>
            </div>
            <a href="/beenzino" class="icon-button" title="힙합합음악 페이지">
                <i class="fa-solid fa-music"></i>
            </a>
            <a href="/vaundy" class="icon-button" title="다음 페이지">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            <a href="/" class="icon-button" title="메인 페이지">
                <i class="fa-solid fa-house"></i>
            </a>
            <div class="page-indicator">
                &lt; 1 / 2 &gt;
            </div>
        </div>
    </div>



</body>

</html>