<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/resume.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="all">
        <div class="title">
            <h1>2401091 손정익 AB-A Javascript과제</h1>
            <a href="/" style="text-decoration: none;">
                <div style="font-size: 60px; text-align: center; margin-top: 10px; cursor: pointer;">🎧</div>
            </a>
            <h2>나의 앨범만들기</h2>
            <div>
                <div class="my">
                    <img src="/static/img/내사진.jpg" alt="">
                </div>
                   
            </div>
        </div>
    </div>
    
</body>
</html> 