<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/band.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Official HIGE DANdism</title>
</head>


<body>

    <div class="all">
        <div class="band">
            <h2>Band</h2>
        </div>
        <hr>
        <div class="bandimag">
            <div class="image">
                <img src="/static/img/EVERYTHING.jpg" alt="" title="EVERYTHING • 검정치마">
                <p>EVERYTHING • 검정치마</p>
            </div>
            <div class="image">
                <img src="/static/img/SHE.jpg" alt="" title="SHE • 잔나비">
                <p>SHE • 잔나비</p>
            </div>
            <div class="image">
                <img src="/static/img/サムライハート(Some Like It Hot!!).jpg" alt=""
                    title="サムライハート(Some Like It Hot!!) • SPYAIR">
                <p>サムライハート(Some Like It Hot!!) • SPYAIR</p>
            </div>
            <div class="image">
                <img src="/static/img/LADY.jpg" alt="" title="LADY • Kenshi Yonezu">
                <p>LADY • Kenshi Yonezu</p>
            </div>
            <div class="image">
                <img src="/static/img/Lemon.jpg" alt="" title="Lemon • Kenshi Yonezu">
                <p>Lemon • Kenshi Yonezu</p>
            </div>
            <div class="image">
                <img src="/static/img/각자의 밤.jpg" alt="" title="각자의 밤 • 나상현씨 밴드">
                <p>각자의 밤 • 나상현씨 밴드</p>
            </div>
            <div class="image">
                <img src="/static/img/너의 기사.jpg" alt="" title="너의 기사 • 데이먼스 이어">
                <p>너의 기사 • 데이먼스 이어</p>
            </div>
            <div class="image">
                <img src="/static/img/야경.jpg" alt="" title="야경 • 터치드">
                <p>야경 • 터치드</p>
            </div>
            <div class="image">
                <img src="/static/img/Firefly.jpg" alt="" title="Firefly • 엔플라잉(N.flying)">
                <p>Firefly • 엔플라잉(N.flying)</p>
            </div>
            <div class="image">
                <img src="/static/img/NO PAIN.jpg" alt="" title="NO PAIN • 실리카겔">
                <p>NO PAIN • 실리카겔</p>
            </div>
            <div class="image">
                <img src="/static/img/Tik Tak Tok (feat. So!YoON!).jpg" alt=""
                    title="Tik Tak Tok (feat. So!YoON!) • 실리카겔">
                <p>Tik Tak Tok (feat. So!YoON!) • 실리카겔</p>
            </div>
            <div class="image">
                <img src="/static/img/Realize.jpg" alt="" title="Realize • 실리카겔">
                <p>Realize • 실리카겔</p>
            </div>
            <div class="image">
                <img src="/static/img/I'MMORTAL (feat. sogumm).jpg" alt="" title="I'MMORTAL (feat. sogumm) • 실리카겔">
                <p>I'MMORTAL (feat. sogumm) • 실리카겔</p>
            </div>
            <div class="image">
                <img src="/static/img/Highlight.jpg" alt="" title="Highlight • 터치드">
                <p>Highlight • 터치드</p>
            </div>
            <div class="image">
                <img src="/static/img/あの夢をなぞって.jpg" alt="" title="あの夢をなぞって • YOASOBI">
                <p>あの夢をなぞって • YOASOBI</p>
            </div>
            <div class="image">
                <img src="/static/img/Creep.jpg" alt="" title="Creep • Radiohead">
                <p>Creep • Radiohead</p>
            </div>
            <div class="image">
                <img src="/static/img/Holiday.jpg" alt="" title="Holiday • Greenday">
                <p>Holiday • Greenday</p>
            </div>
            <div class="image">
                <img src="/static/img/狂乱 Hey Kids!!.jpg" alt="" title="狂乱 Hey Kids!! • THE ORAL CIGARETTES">
                <p>狂乱 Hey Kids!! • THE ORAL CIGARETTES</p>
            </div>
            <div class="image">
                <img src="/static/img/못 죽는 기사와 비단 요람.jpg" alt="" title="못 죽는 기사와 비단 요람 • LUCY">
                <p>못 죽는 기사와 비단 요람 • LUCY</p>
            </div>
            <div class="image">
                <img src="/static/img/yours.jpg" alt="" title="yours • 데이먼스이어">
                <p>yours • 데이먼스이어어</p>
            </div>
            <div class="image">
                <img src="/static/img/놓아 놓아 놓아 Letting Go.jpg" alt="" title="놓아 놓아 놓아 Letting Go • DAY6(데이식스)">
                <p>놓아 놓아 놓아 Letting Go • DAY6(데이식스)</p>
            </div>
            <div class="image">
                <img src="/static/img/멸종.jpg" alt="" title="멸종 • 쏜애플">
                <p>멸종 • 쏜애플</p>
            </div>
            <div class="image">
                <img src="/static/img/I Wanna Be....jpg" alt="" title="I Wanna Be... • SPYAIR">
                <p>I Wanna Be... • SPYAIR</p>
            </div>
            <div class="image">
                <img src="/static/img/猫 〜THE FIRST TAKE ver.〜 - Neko -The First Take Version.jpg" alt=""
                    title="猫 〜THE FIRST TAKE ver.〜 - Neko -The First Take Version • DISH//">
                <p>猫 〜THE FIRST TAKE ver.〜 - Neko -The First Take Version • DISH//</p>
            </div>
            <div class="image">
                <img src="/static/img/발자국.jpg" alt="" title="발자국 • 나상현씨밴드">
                <p>발자국 • 나상현씨밴드</p>
            </div>
            <div class="image">
                <img src="/static/img/ハルノヒ - Harunohi.jpg" alt="" title="ハルノヒ - Harunohi • aimyon">
                <p>ハルノヒ - Harunohi • aimyon</p>
            </div>
            <div class="image">
                <img src="/static/img/ケセラセラ - Que Sera Sera.jpg" alt=""
                    title="ケセラセラ - Que Sera Sera • Mrs. GREEN APPLE">
                <p>ケセラセラ - Que Sera Sera • Mrs. GREEN APPLE</p>
            </div>
            <div class="image">
                <img src="/static/img/플래시백.jpg" alt="" title="Flashback • 엔플라잉(N.flying)">
                <p>Flashback • 엔플라잉(N.flying)</p>
            </div>
            <div class="image">
                <img src="/static/img/KICK BACK.jpg" alt="" title="KICK BACK • Kenshi Yonezu">
                <p>KICK BACK • Kenshi Yonezu</p>
            </div>
            <!-- 여기까지했음 -->
            <div class="image">
                <img src="/static/img/21세기의 어떤 날.jpg" alt="" title="21세기의 어떤 날 • LUCY">
                <p>21세기의 어떤 날 • LUCY</p>
            </div>
            <div class="image">
                <img src="/static/img/혜성.jpg" alt="" title="혜성 • 윤하">
                <p>혜성 • 윤하</p>
            </div>
            <div class="image">
                <img src="/static/img/Can't Stop.jpg" alt="" title="Can't Stop • Red Hot Chili Peppers">
                <p>Can't Stop • Red Hot Chili Peppers</p>
            </div>
            <div class="image">
                <img src="/static/img/Don't Look Back in Anger.jpg" alt="" title="Don't Look Back in Anger - Oasis">
                <p>Don't Look Back in Anger - Oasis</p>
            </div>
            <div class="image">
                <img src="/static/img/21 Guns.jpg" alt="" title="21 Guns • Greenday">
                <p>21 Guns • Greenday</p>
            </div>
            <div class="image">
                <img src="/static/img/Smells Like Teen Spirit.jpg" alt="" title="Smells Like Teen Spirit • Nirvana">
                <p>Smells Like Teen Spirit • Nirvana</p>
            </div>
            <div class="icon-bar">
                <a href="/" class="icon-button" title="메인 페이지">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a href="/beenzino" class="icon-button" title="힙합음악 페이지">
                    <i class="fa-solid fa-music"></i>
                </a>
                <a href="/official-hige-dandism" class="icon-button" title="이전 페이지">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>
            <div class="page-indicator">
                &lt; 2 / 2 &gt;
            </div>
        </div>
    </div>



</body>

</html>